---
services:
  traefik:
    image: traefik:v3.6.6
    container_name: traefik
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
    networks:
      - frontend
      - backend
    restart: unless-stopped
networks:
  frontend:
    external: true
  backend:
    external: true
